@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET SAMPLE CAS AUTHENTICATION SITE</h1>
    <p><a class="btn btn-primary btn-lg" href="https://ensembledev.local:8443/cas/">Sign In With CAS Authentication</a></p>
    <p>
    @if (User.Identity.IsAuthenticated)
    {
        @User.Identity.Name
    }
    else
    {
        @: Not Authenticated
    }
    </p>
</div>

