@using CasAssertionModel
@model  CasAuthTicket

@{
    ViewBag.Title = "Index";
    var ticket = Model.toJSON();
    var encodedTicket = Model.toBase64();
}

<h2>Index</h2>
<div>
    <p>AUTHENTICATED: @User.Identity.Name </p>
    <p>COOKIES: <br />
        @foreach (var item in Request.Cookies)
        {
        @item  <br>
        }
    </p>
    <p>AUTH TICKET: <code>
    @ticket
    </code> </p>
    <p>BASE64 ENCODED TICKET: <code>
        @encodedTicket
        </code></p>
    <p><a href="../app/home/casauth?ticket=@encodedTicket">Pass Cas Auth to App...</a></p>
</div>
